USE [master]
GO
/****** Object:  Database [YanivPM22Var11]    Script Date: 11.04.2024 17:50:47 ******/
CREATE DATABASE [YanivPM22Var11]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YanivPM22Var11', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLYANIVPM22\MSSQL\DATA\YanivPM22Var11.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YanivPM22Var11_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLYANIVPM22\MSSQL\DATA\YanivPM22Var11_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YanivPM22Var11].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YanivPM22Var11]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 11.04.2024 17:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[NameDepartment] [text] NOT NULL,
	[Id] [int] NOT NULL,
	[boss] [text] NOT NULL,
	[UCR] [varchar](255) NULL,
	[DCR] [smalldatetime] NULL,
	[ULC] [varchar](255) NULL,
	[DLC] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeINFO]    Script Date: 11.04.2024 17:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeINFO](
	[Position] [text] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Pasport] [int] NOT NULL,
	[HomeAddress] [text] NOT NULL,
	[PlaceBirth] [text] NOT NULL,
	[DateBirth] [nchar](10) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[Name] [text] NULL,
	[Surname] [text] NULL,
	[FatherName] [text] NULL,
	[UCR] [varchar](255) NULL,
	[DCR] [smalldatetime] NULL,
	[ULC] [varchar](255) NULL,
	[DLC] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoursWorked]    Script Date: 11.04.2024 17:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoursWorked](
	[HoursWorkedDay] [int] NULL,
	[AddHoursWorkedDay] [int] NULL,
	[EmployeeID] [int] NOT NULL,
	[MounthWork] [varchar](255) NULL,
	[UCR] [varchar](255) NULL,
	[DCR] [smalldatetime] NULL,
	[ULC] [varchar](255) NULL,
	[DLC] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryGive]    Script Date: 11.04.2024 17:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryGive](
	[EmployeeID] [int] NOT NULL,
	[Salary] [int] NULL,
	[PayGiveData] [varchar](255) NULL,
	[UCR] [varchar](255) NULL,
	[DCR] [smalldatetime] NULL,
	[ULC] [varchar](255) NULL,
	[DLC] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryPerHours]    Script Date: 11.04.2024 17:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryPerHours](
	[PositionName] [varchar](255) NULL,
	[Salary] [int] NOT NULL,
	[UCR] [varchar](255) NULL,
	[DCR] [smalldatetime] NULL,
	[ULC] [varchar](255) NULL,
	[DLC] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacantion]    Script Date: 11.04.2024 17:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacantion](
	[EmployeeID] [int] NOT NULL,
	[VacantionTime] [int] NOT NULL,
	[VacantionPay] [int] NOT NULL,
	[VacantionMounth] [varchar](255) NULL,
	[UCR] [varchar](255) NULL,
	[DCR] [smalldatetime] NULL,
	[ULC] [varchar](255) NULL,
	[DLC] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Department] ([NameDepartment], [Id], [boss], [UCR], [DCR], [ULC], [DLC]) VALUES (N'DepartmentA', 1, N'Anderson Rey', N'dbo', CAST(N'2024-04-09T09:04:00' AS SmallDateTime), N'dbo', CAST(N'2024-04-11T17:48:00' AS SmallDateTime))
INSERT [dbo].[Department] ([NameDepartment], [Id], [boss], [UCR], [DCR], [ULC], [DLC]) VALUES (N'DepartmentB', 2, N'Bush Robert', N'dbo', CAST(N'2024-04-09T09:04:00' AS SmallDateTime), N'dbo', CAST(N'2024-04-09T09:35:00' AS SmallDateTime))
INSERT [dbo].[Department] ([NameDepartment], [Id], [boss], [UCR], [DCR], [ULC], [DLC]) VALUES (N'DepartmentC', 3, N'Biden Joe', N'dbo', CAST(N'2024-04-09T09:04:00' AS SmallDateTime), N'dbo', CAST(N'2024-04-09T09:35:00' AS SmallDateTime))
GO
INSERT [dbo].[EmployeeINFO] ([Position], [EmployeeID], [Pasport], [HomeAddress], [PlaceBirth], [DateBirth], [DepartmentID], [Name], [Surname], [FatherName], [UCR], [DCR], [ULC], [DLC]) VALUES (N'Electrician', 1, 553356, N'Zelena 02', N'Lviv', N'08.03.2000', 1, N'Alfred', N'Smith', N'Alex ', N'dbo', CAST(N'2024-04-11T17:50:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[EmployeeINFO] ([Position], [EmployeeID], [Pasport], [HomeAddress], [PlaceBirth], [DateBirth], [DepartmentID], [Name], [Surname], [FatherName], [UCR], [DCR], [ULC], [DLC]) VALUES (N'Builder', 2, 238754, N'Bandery 01', N'Sambir', N'01.01.1996', 2, N'Otis', N'Underwood', N'Arthur', N'dbo', CAST(N'2024-04-11T17:50:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[EmployeeINFO] ([Position], [EmployeeID], [Pasport], [HomeAddress], [PlaceBirth], [DateBirth], [DepartmentID], [Name], [Surname], [FatherName], [UCR], [DCR], [ULC], [DLC]) VALUES (N'Electrician', 3, 119944, N'Shevchenka 55', N'Kyiv', N'09.07.1989', 2, N'Ricky ', N'Lowe', N'Shaun', N'dbo', CAST(N'2024-04-11T17:50:00' AS SmallDateTime), NULL, NULL)
GO
INSERT [dbo].[HoursWorked] ([HoursWorkedDay], [AddHoursWorkedDay], [EmployeeID], [MounthWork], [UCR], [DCR], [ULC], [DLC]) VALUES (9, 4, 8, N'20.02.2024', N'dbo', CAST(N'2024-04-11T16:51:00' AS SmallDateTime), N'dbo', CAST(N'2024-04-11T17:01:00' AS SmallDateTime))
INSERT [dbo].[HoursWorked] ([HoursWorkedDay], [AddHoursWorkedDay], [EmployeeID], [MounthWork], [UCR], [DCR], [ULC], [DLC]) VALUES (12, 0, 2, N'30.03.2024', N'dbo', CAST(N'2024-04-11T16:51:00' AS SmallDateTime), N'dbo', CAST(N'2024-04-11T16:57:00' AS SmallDateTime))
INSERT [dbo].[HoursWorked] ([HoursWorkedDay], [AddHoursWorkedDay], [EmployeeID], [MounthWork], [UCR], [DCR], [ULC], [DLC]) VALUES (2, 5, 11, N'12.03.2024', N'dbo', CAST(N'2024-04-11T16:51:00' AS SmallDateTime), NULL, NULL)
GO
INSERT [dbo].[SalaryGive] ([EmployeeID], [Salary], [PayGiveData], [UCR], [DCR], [ULC], [DLC]) VALUES (1, 500, N'03.2024', N'dbo', CAST(N'2024-04-09T09:04:00' AS SmallDateTime), N'dbo', CAST(N'2024-04-11T17:17:00' AS SmallDateTime))
INSERT [dbo].[SalaryGive] ([EmployeeID], [Salary], [PayGiveData], [UCR], [DCR], [ULC], [DLC]) VALUES (2, 46, N'03.2024', N'dbo', CAST(N'2024-04-09T09:04:00' AS SmallDateTime), N'dbo', CAST(N'2024-04-09T10:02:00' AS SmallDateTime))
INSERT [dbo].[SalaryGive] ([EmployeeID], [Salary], [PayGiveData], [UCR], [DCR], [ULC], [DLC]) VALUES (3, 360, N'03.2024', N'dbo', CAST(N'2024-04-09T09:04:00' AS SmallDateTime), N'dbo', CAST(N'2024-04-09T09:04:00' AS SmallDateTime))
GO
INSERT [dbo].[SalaryPerHours] ([PositionName], [Salary], [UCR], [DCR], [ULC], [DLC]) VALUES (N'Electrician', 20, N'dbo', CAST(N'2024-04-09T09:04:00' AS SmallDateTime), N'dbo', CAST(N'2024-04-09T09:04:00' AS SmallDateTime))
INSERT [dbo].[SalaryPerHours] ([PositionName], [Salary], [UCR], [DCR], [ULC], [DLC]) VALUES (N'Builder', 24, N'dbo', CAST(N'2024-04-09T09:04:00' AS SmallDateTime), N'dbo', CAST(N'2024-04-11T17:22:00' AS SmallDateTime))
INSERT [dbo].[SalaryPerHours] ([PositionName], [Salary], [UCR], [DCR], [ULC], [DLC]) VALUES (N'Accountant', 25, N'dbo', CAST(N'2024-04-09T09:04:00' AS SmallDateTime), N'dbo', CAST(N'2024-04-09T09:04:00' AS SmallDateTime))
GO
INSERT [dbo].[Vacantion] ([EmployeeID], [VacantionTime], [VacantionPay], [VacantionMounth], [UCR], [DCR], [ULC], [DLC]) VALUES (1, 3, 120, N'02.2024', N'dbo', CAST(N'2024-04-09T08:53:00' AS SmallDateTime), N'dbo', CAST(N'2024-04-11T17:31:00' AS SmallDateTime))
INSERT [dbo].[Vacantion] ([EmployeeID], [VacantionTime], [VacantionPay], [VacantionMounth], [UCR], [DCR], [ULC], [DLC]) VALUES (2, 5, 150, N'01.2024', N'dbo', CAST(N'2024-04-09T08:53:00' AS SmallDateTime), N'dbo', CAST(N'2024-04-09T10:02:00' AS SmallDateTime))
INSERT [dbo].[Vacantion] ([EmployeeID], [VacantionTime], [VacantionPay], [VacantionMounth], [UCR], [DCR], [ULC], [DLC]) VALUES (3, 4, 125, N'01.2024', N'dbo', CAST(N'2024-04-09T08:53:00' AS SmallDateTime), N'dbo', CAST(N'2024-04-09T08:53:00' AS SmallDateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_UnicueParam]    Script Date: 11.04.2024 17:50:47 ******/
ALTER TABLE [dbo].[HoursWorked] ADD  CONSTRAINT [UC_UnicueParam] UNIQUE NONCLUSTERED 
(
	[HoursWorkedDay] ASC,
	[AddHoursWorkedDay] ASC,
	[EmployeeID] ASC,
	[MounthWork] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_GiveSalaryData]    Script Date: 11.04.2024 17:50:47 ******/
ALTER TABLE [dbo].[SalaryGive] ADD  CONSTRAINT [UC_GiveSalaryData] UNIQUE NONCLUSTERED 
(
	[EmployeeID] ASC,
	[PayGiveData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Department] ADD  DEFAULT (user_name()) FOR [UCR]
GO
ALTER TABLE [dbo].[Department] ADD  DEFAULT (getdate()) FOR [DCR]
GO
ALTER TABLE [dbo].[EmployeeINFO] ADD  DEFAULT (user_name()) FOR [UCR]
GO
ALTER TABLE [dbo].[EmployeeINFO] ADD  DEFAULT (getdate()) FOR [DCR]
GO
ALTER TABLE [dbo].[HoursWorked] ADD  DEFAULT (user_name()) FOR [UCR]
GO
ALTER TABLE [dbo].[HoursWorked] ADD  DEFAULT (getdate()) FOR [DCR]
GO
ALTER TABLE [dbo].[SalaryGive] ADD  DEFAULT (user_name()) FOR [UCR]
GO
ALTER TABLE [dbo].[SalaryGive] ADD  DEFAULT (getdate()) FOR [DCR]
GO
ALTER TABLE [dbo].[SalaryPerHours] ADD  DEFAULT (user_name()) FOR [UCR]
GO
ALTER TABLE [dbo].[SalaryPerHours] ADD  DEFAULT (getdate()) FOR [DCR]
GO
ALTER TABLE [dbo].[Vacantion] ADD  DEFAULT (user_name()) FOR [UCR]
GO
ALTER TABLE [dbo].[Vacantion] ADD  DEFAULT (getdate()) FOR [DCR]
GO
ALTER TABLE [dbo].[HoursWorked]  WITH CHECK ADD CHECK  (([AddHoursWorkedDay]<=(20)))
GO
ALTER TABLE [dbo].[HoursWorked]  WITH CHECK ADD CHECK  (([HoursWorkedDay]<=(20)))
GO
/****** Object:  StoredProcedure [dbo].[PaySalary]    Script Date: 11.04.2024 17:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PaySalary] (@EmployeeID INT, @MounthPay varchar(255))
AS
BEGIN
INSERT INTO [dbo].[SalaryGive] ([EmployeeID] , [Salary] , [PayGiveData])
SELECT @EmployeeID,  Sum(([HoursWorked].[HoursWorkedDay]+[HoursWorked].[AddHoursWorkedDay])*[SalaryPerHours].[Salary]) + ISNULL((
SELECT Vacantion.VacantionPay
FROM Vacantion
WHERE (Vacantion.EmployeeID =@EmployeeID AND Vacantion.VacantionMounth = @MounthPay) OR Vacantion.VacantionMounth IS NULL 
),0
),@MounthPay
FROM HoursWorked, SalaryPerHours
WHERE [HoursWorked].[EmployeeID]=@EmployeeID AND 
CONVERT(VARCHAR,[SalaryPerHours].[PositionName])=CONVERT(VARCHAR, (SELECT Position 
                                 FROM EmployeeINFO
                                 WHERE EmployeeID=@EmployeeID))
AND ([HoursWorked].[MounthWork] LIKE '__.'+ @MounthPay)
END; 
GO
/****** Object:  StoredProcedure [dbo].[PaySalaryForAllEmployee]    Script Date: 11.04.2024 17:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PaySalaryForAllEmployee] (@Mounth varchar(255))
AS
BEGIN

DECLARE @Count as INT = 1;
WHILE (@Count<=16)
BEGIN
EXEC PaySalary @EmployeeID = @Count, @MounthPay = @Mounth;
SET @Count = @Count+1
END;
END;
GO
/****** Object:  Trigger [dbo].[DepartmentUpdateUDCR]    Script Date: 11.04.2024 17:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[DepartmentUpdateUDCR]
ON  [dbo].[Department]
INSTEAD OF UPDATE
AS
DECLARE @EmpBA varchar(255), @EmpDPA varchar(255), @EmpIDA int
SELECT @EmpBA = CONVERT(varchar(255),boss) ,@EmpDPA = CONVERT(varchar(255),NameDepartment), @EmpIDA =Id
FROM deleted


DECLARE  @EmpB varchar(255), @EmpDP varchar(255), @EmpID INT
SELECT @EmpB = ISNULL(CONVERT(varchar(255),boss),@EmpBA), @EmpDP = ISNULL(CONVERT(varchar(255),NameDepartment),@EmpDPA), @EmpID = ISNULL(Id,@EmpIDA)
FROM inserted

IF(UPDATE(UCR) OR UPDATE(DCR))
SELECT 'You can`t update this column' as Mes
ELSE
UPDATE [dbo].[Department]
SET [NameDepartment] = CONVERT(text,@EmpDP) , [Id]=@EmpID,[boss]=CONVERT(text,@EmpB)
WHERE Id = @EmpIDA AND CONVERT(varchar(255),NameDepartment) = @EmpDPA








GO
ALTER TABLE [dbo].[Department] ENABLE TRIGGER [DepartmentUpdateUDCR]
GO
/****** Object:  Trigger [dbo].[DepartmentUpdateUDLC]    Script Date: 11.04.2024 17:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[DepartmentUpdateUDLC]
ON [dbo].[Department]
AFTER UPDATE
AS 
BEGIN

DECLARE @UpdateId int
SELECT @UpdateId = Id
FROM inserted
UPDATE  Department
SET ULC = CURRENT_USER, DLC = GETDATE()
WHERE Id = @UpdateId

END



GO
ALTER TABLE [dbo].[Department] ENABLE TRIGGER [DepartmentUpdateUDLC]
GO
/****** Object:  Trigger [dbo].[EmployeeINFOUpdateUDCR]    Script Date: 11.04.2024 17:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[EmployeeINFOUpdateUDCR]
ON [dbo].[EmployeeINFO]
INSTEAD OF UPDATE
AS 
DECLARE @UpdateUCRA varchar(255), @UpdateDCRA smalldatetime,@EmpNameA varchar(255), @EmpPosA varchar(255),@EmpPasA int, @EmpDepIDA int,@EmpIDA int, @EmpFNA varchar(255),@EmpSNA varchar(255), @EmpHAA varchar(255),@EmpPBA varchar(255), @EmpDBA nchar(10)
SELECT @UpdateUCRA = UCR, @UpdateDCRA = DCR,@EmpNameA = CONVERT(varchar(255),Name), @EmpPosA = Position ,@EmpPasA = Pasport, @EmpDepIDA = DepartmentID, @EmpIDA = EmployeeID, @EmpFNA = CONVERT(varchar(255),FatherName),@EmpSNA =CONVERT(varchar(255),Surname), @EmpHAA =CONVERT(varchar(255),HomeAddress),@EmpPBA= CONVERT(varchar(255),PlaceBirth), @EmpDBA = DateBirth
FROM EmployeeINFO


DECLARE @UpdateUCR varchar(255), @UpdateDCR smalldatetime,@EmpName varchar(255), @EmpPos varchar(255),@EmpPas int, @EmpDepID int,@EmpID int, @EmpFN varchar(255),@EmpSN varchar(255), @EmpHA varchar(255),@EmpPB varchar(255), @EmpDB nchar(10)
SELECT @EmpName = ISNULL(CONVERT(varchar(255),Name),@EmpNameA), @EmpPos = ISNULL(Position,@EmpPosA) ,@EmpPas = ISNULL(Pasport,@EmpPasA), @EmpDepID = ISNULL(DepartmentID,@EmpDepIDA), @EmpID = ISNULL(EmployeeID,@EmpIDA), @EmpFN = ISNULL(CONVERT(varchar(255),FatherName),@EmpFNA),@EmpSN =ISNULL(CONVERT(varchar(255),Surname),@EmpSNA), @EmpHA =ISNULL(CONVERT(varchar(255),HomeAddress),@EmpHAA),@EmpPB= ISNULL(CONVERT(varchar(255),PlaceBirth),@EmpPBA), @EmpDB = ISNULL(DateBirth,@EmpDBA)
FROM inserted

IF(UPDATE(UCR) OR UPDATE(DCR))
SELECT 'You can`t update this column' as Mes
ELSE
UPDATE [dbo].[EmployeeINFO]
SET [Position] = CONVERT(text,@EmpPos) , [Pasport]=@EmpPas,[HomeAddress]=CONVERT(text,@EmpHA),[PlaceBirth]=CONVERT(text,@EmpPB),[DateBirth]=@EmpDB, [DepartmentID]=@EmpDepID, [Name]=CONVERT(text,@EmpName),[Surname]=@EmpSN,[FatherName]=@EmpFN
WHERE EmployeeID = @EmpID
GO
ALTER TABLE [dbo].[EmployeeINFO] ENABLE TRIGGER [EmployeeINFOUpdateUDCR]
GO
/****** Object:  Trigger [dbo].[EmployeeINFOUpdateUDLC]    Script Date: 11.04.2024 17:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[EmployeeINFOUpdateUDLC]
ON [dbo].[EmployeeINFO]
AFTER UPDATE
AS 
BEGIN

DECLARE @UpdateId int
SELECT @UpdateId = EmployeeID
FROM inserted
UPDATE  EmployeeINFO
SET ULC = CURRENT_USER, DLC = GETDATE()
WHERE EmployeeID = @UpdateId

END



GO
ALTER TABLE [dbo].[EmployeeINFO] ENABLE TRIGGER [EmployeeINFOUpdateUDLC]
GO
/****** Object:  Trigger [dbo].[EmployeeLimit]    Script Date: 11.04.2024 17:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[EmployeeLimit] 
ON [dbo].[EmployeeINFO]
INSTEAD OF INSERT
AS 
DECLARE @EmpName varchar(255), @EmpPos varchar(255),@EmpPas int, @EmpDepID int,@EmpID int, @EmpFN varchar(255),@EmpSN varchar(255), @EmpHA varchar(255),@EmpPB varchar(255), @EmpDB nchar(10)
SELECT @EmpName = CONVERT(varchar(255),Name), @EmpPos = Position ,@EmpPas = Pasport, @EmpDepID = DepartmentID, @EmpID = EmployeeID, @EmpFN = CONVERT(varchar(255),FatherName),@EmpSN =CONVERT(varchar(255),Surname), @EmpHA =CONVERT(varchar(255),HomeAddress),@EmpPB= CONVERT(varchar(255),PlaceBirth), @EmpDB = DateBirth
FROM inserted
DECLARE @EmpNameA varchar(255), @EmpPosA varchar(255),@EmpPasA int, @EmpDepIDA int
SELECT @EmpNameA = CONVERT(varchar(255),Name), @EmpPosA = Position ,@EmpPasA = Pasport, @EmpDepIDA = DepartmentID
FROM EmployeeINFO
WHERE @EmpName=@EmpNameA AND @EmpPas=@EmpPasA
IF(SELECT Pasport FROM EmployeeINFO WHERE Pasport = @EmpPas) IS NOT NULL
IF((@EmpPos!=@EmpPosA OR @EmpDepID!=@EmpDepIDA) AND (@EmpName=@EmpNameA AND @EmpPas=@EmpPasA))
INSERT [dbo].[EmployeeINFO] ([Position], [EmployeeID], [Pasport], [HomeAddress], [PlaceBirth], [DateBirth], [DepartmentID], [Name], [Surname], [FatherName]) 
VALUES (CONVERT(text,@EmpPos),@EmpID , @EmpPas,CONVERT(text,@EmpHA),CONVERT(text,@EmpPB),@EmpDB, @EmpDepID, CONVERT(text,@EmpName),@EmpSN,@EmpFN)
ELSE
SELECT 'An employee cannot work in several departments and in several positions at the same time.' 
ELSE
INSERT [dbo].[EmployeeINFO] ([Position], [EmployeeID], [Pasport], [HomeAddress], [PlaceBirth], [DateBirth], [DepartmentID], [Name], [Surname], [FatherName]) 
VALUES (CONVERT(text,@EmpPos),@EmpID , @EmpPas,CONVERT(text,@EmpHA),CONVERT(text,@EmpPB),@EmpDB, @EmpDepID, CONVERT(text,@EmpName),@EmpSN,@EmpFN)
GO
ALTER TABLE [dbo].[EmployeeINFO] ENABLE TRIGGER [EmployeeLimit]
GO
/****** Object:  Trigger [dbo].[HoursWorkedUpdateUDCR]    Script Date: 11.04.2024 17:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[HoursWorkedUpdateUDCR]
ON [dbo].[HoursWorked]
INSTEAD OF UPDATE
AS 
DECLARE   @EmpHWA INT,@EmpAHWA int, @EmpIDA int, @EmpMWA varchar(255)
SELECT @EmpHWA = HoursWorkedDay ,@EmpAHWA = AddHoursWorkedDay, @EmpIDA = EmployeeID, @EmpMWA = MounthWork
FROM deleted


DECLARE @EmpHW INT,@EmpAHW int, @EmpID int, @EmpMW varchar(255)
SELECT @EmpHW = ISNULL(HoursWorkedDay,@EmpHWA), @EmpAHW = ISNULL(AddHoursWorkedDay,@EmpAHWA) ,@EmpID = ISNULL(EmployeeID,@EmpIDA), @EmpMW = ISNULL(MounthWork,@EmpMWA)
FROM inserted

IF(UPDATE(UCR) OR UPDATE(DCR))
SELECT 'You can`t update this column' as Mes
ELSE
UPDATE [dbo].[HoursWorked]
SET [HoursWorkedDay] = @EmpHW , [AddHoursWorkedDay]=@EmpAHW
WHERE EmployeeID = @EmpID AND MounthWork= @EmpMWA 
GO
ALTER TABLE [dbo].[HoursWorked] ENABLE TRIGGER [HoursWorkedUpdateUDCR]
GO
/****** Object:  Trigger [dbo].[HoursWorkedUpdateUDLC]    Script Date: 11.04.2024 17:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[HoursWorkedUpdateUDLC]
ON [dbo].[HoursWorked]
AFTER UPDATE
AS 
BEGIN

DECLARE @UpdateId int
SELECT @UpdateId = EmployeeID
FROM inserted
UPDATE  HoursWorked
SET ULC = CURRENT_USER, DLC = GETDATE()
WHERE EmployeeID = @UpdateId AND MounthWork=(SELECT MounthWork FROM inserted)

END



GO
ALTER TABLE [dbo].[HoursWorked] ENABLE TRIGGER [HoursWorkedUpdateUDLC]
GO
/****** Object:  Trigger [dbo].[SalaryGiveUpdateUDCR]    Script Date: 11.04.2024 17:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[SalaryGiveUpdateUDCR]
ON [dbo].[SalaryGive]
INSTEAD OF UPDATE
AS 
DECLARE   @EmpSA INT, @EmpIDA int, @EmpMPA varchar(255)
SELECT @EmpSA = Salary , @EmpIDA = EmployeeID, @EmpMPA = PayGiveData
FROM deleted


DECLARE @EmpS INT, @EmpID int, @EmpMP varchar(255)
SELECT @EmpS = ISNULL(Salary,@EmpSA) ,@EmpID = ISNULL(EmployeeID,@EmpIDA), @EmpMP = ISNULL(PayGiveData,@EmpMPA)
FROM inserted

IF(UPDATE(UCR) OR UPDATE(DCR))
SELECT 'You can`t update this column' as Mes
ELSE
UPDATE [dbo].[SalaryGive]
SET [PayGiveData] = @EmpMP , [Salary]=@EmpS
WHERE EmployeeID = @EmpID AND PayGiveData= @EmpMPA 
GO
ALTER TABLE [dbo].[SalaryGive] ENABLE TRIGGER [SalaryGiveUpdateUDCR]
GO
/****** Object:  Trigger [dbo].[SalaryGiveUpdateUDLC]    Script Date: 11.04.2024 17:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[SalaryGiveUpdateUDLC]
ON [dbo].[SalaryGive]
AFTER UPDATE
AS 
BEGIN

DECLARE @UpdateId int
SELECT @UpdateId = EmployeeID
FROM inserted
UPDATE  SalaryGive
SET ULC = CURRENT_USER, DLC = GETDATE()
WHERE EmployeeID = @UpdateId AND PayGiveData=(SELECT PayGiveData FROM inserted)

END



GO
ALTER TABLE [dbo].[SalaryGive] ENABLE TRIGGER [SalaryGiveUpdateUDLC]
GO
/****** Object:  Trigger [dbo].[SalaryPerHoursUpdateUDCR]    Script Date: 11.04.2024 17:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[SalaryPerHoursUpdateUDCR]
ON  [dbo].[SalaryPerHours]
INSTEAD OF UPDATE
AS 
DECLARE   @EmpSA int, @EmpMPA varchar(255)
SELECT @EmpSA = Salary ,@EmpMPA = PositionName
FROM deleted


DECLARE @EmpS INT, @EmpMP varchar(255)
SELECT @EmpS = ISNULL(Salary,@EmpSA), @EmpMP = ISNULL(PositionName,@EmpMPA)
FROM inserted

IF(UPDATE(UCR) OR UPDATE(DCR))
SELECT 'You can`t update this column' as Mes
ELSE
UPDATE [dbo].[SalaryPerHours]
SET [PositionName] = @EmpMP , [Salary]=@EmpS
WHERE PositionName = @EmpMPA 


GO
ALTER TABLE [dbo].[SalaryPerHours] ENABLE TRIGGER [SalaryPerHoursUpdateUDCR]
GO
/****** Object:  Trigger [dbo].[SalaryPerHoursUpdateUDLC]    Script Date: 11.04.2024 17:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[SalaryPerHoursUpdateUDLC]
ON [dbo].[SalaryPerHours]
AFTER UPDATE
AS 
BEGIN

DECLARE @UpdateId varchar(255)
SELECT @UpdateId = PositionName
FROM inserted
UPDATE  SalaryPerHours
SET ULC = CURRENT_USER, DLC = GETDATE()
WHERE PositionName = @UpdateId

END



GO
ALTER TABLE [dbo].[SalaryPerHours] ENABLE TRIGGER [SalaryPerHoursUpdateUDLC]
GO
/****** Object:  Trigger [dbo].[VacantionUpdateUDCR]    Script Date: 11.04.2024 17:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[VacantionUpdateUDCR]
ON [dbo].[Vacantion]
INSTEAD OF UPDATE
AS 
DECLARE   @EmpVPA int, @EmpVMA varchar(255), @EmpVTA INT, @EmpIDA INT
SELECT @EmpVPA = VacantionPay ,@EmpVMA = VacantionMounth, @EmpVTA = VacantionTime, @EmpIDA =EmployeeID
FROM deleted


DECLARE @EmpVP int, @EmpVM varchar(255), @EmpVT INT, @EmpID INT
SELECT @EmpVP = ISNULL(VacantionPay,@EmpVPA), @EmpVM = ISNULL(VacantionMounth,@EmpVMA),@EmpVT = ISNULL(VacantionTime,@EmpVTA), @EmpID = ISNULL(EmployeeID,@EmpIDA)
FROM inserted

IF(UPDATE(UCR) OR UPDATE(DCR))
SELECT 'You can`t update this column' as Mes
ELSE
UPDATE [dbo].[Vacantion]
SET [EmployeeID] = @EmpID , [VacantionTime]=@EmpVT,[VacantionPay]=@EmpVP,[VacantionMounth]=@EmpVM
WHERE EmployeeID = @EmpIDA AND VacantionMounth = @EmpVMA





GO
ALTER TABLE [dbo].[Vacantion] ENABLE TRIGGER [VacantionUpdateUDCR]
GO
/****** Object:  Trigger [dbo].[VacantionUpdateUDLC]    Script Date: 11.04.2024 17:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[VacantionUpdateUDLC]
ON [dbo].[Vacantion]
AFTER UPDATE
AS 
BEGIN

DECLARE @UpdateId int
SELECT @UpdateId = EmployeeID
FROM inserted
UPDATE  Vacantion
SET ULC = CURRENT_USER, DLC = GETDATE()
WHERE EmployeeID = @UpdateId AND VacantionMounth = (SELECT VacantionMounth FROM inserted)

END



GO
ALTER TABLE [dbo].[Vacantion] ENABLE TRIGGER [VacantionUpdateUDLC]
GO
USE [master]
GO
